= form_tag sessions_path, role: 'form', remote: true do
  = render 'layouts/errors'
  .form-group
    = text_field_tag :email, params[:email], placeholder: 'Email', class: 'form-control'
  .form-group
    = password_field_tag :password, nil, placeholder: 'Password', class: 'form-control'
  .form-group.pull-right
    = submit_tag 'Log in', class: 'btn btn-primary'
    \-or-
    = link_to 'Sign up!', signup_path, class: 'btn btn-default btn-sm', remote: true