= content_tag 'li', class: 'pal' do
  %p
    = pal.name
  - if current_user.sharing?(pal)
    = form_for(current_user.relationships.find_by_sharee_id(pal), html: { method: :delete, remote: true, class: 'pull-right'}) do |f| 
      = f.submit 'Sharing', class: 'btn btn-success', id: 'share_button'
  - else
    = form_for(Relationship.new, html: {class: 'pull-right', remote: true}) do |f| 
      = hidden_field_tag :user_share, pal.id
      = f.submit 'Share', class: 'btn btn-info'
