= render 'layouts/error_messages', object: f.object
.form-group
  .col-sm-10.col-sm-offset-1
    = f.text_field :name, placeholder: 'Full name', class: 'form-control'
.form-group
  .col-sm-10.col-sm-offset-1
    = f.radio_button :gender, :M
    = f.label :gender, "Male", value: :M
    &nbsp;&nbsp;&nbsp;
    = f.radio_button :gender, :F
    = f.label :gender, "Female", value: :F
.form-group
  .col-sm-10.col-sm-offset-1
    = f.text_field :email, placeholder: 'Email address', class: 'form-control'
.form-group
  .col-sm-10.col-sm-offset-1
    = f.password_field :password, placeholder: 'Password', class: 'form-control'