= render 'layouts/error_messages', object: f.object
.form-group
  = f.text_field :name, placeholder: 'Full name', class: 'form-control'
  = hidden_field_tag :lat
  = hidden_field_tag :lng
.form-group
  = f.radio_button :gender, :M
  = f.label :gender, "Male", value: :M
  &nbsp;&nbsp;&nbsp;
  = f.radio_button :gender, :F
  = f.label :gender, "Female", value: :F
.form-group
  = f.text_field :email, placeholder: 'Email address', class: 'form-control'
.form-group
  = f.password_field :password, placeholder: 'Password', class: 'form-control'