%h2= @event.name
%h3= @event.start.strftime("%B #{@event.start.day.ordinalize}, %Y %-I:%M%P")
%h4= @event.description

- if signed_in?
  - if current_user.attending?(@event)
    = form_for current_user.attendances.where(event_id: @event.id)[0], html: { method: :delete }, remote: true do |f| 
      = f.submit 'Going', class: 'btn btn-success', id: 'go_button'
  - else
    = form_for Attendance.new, remote: true do |f| 
      = f.hidden_field :event_id, value: @event.id
      = f.hidden_field :user_id, value: current_user.id
      = f.submit 'Go!', class: 'btn btn-info'
- else
  = link_to 'Go!', signin_path, class: 'btn btn-info', remote: true

- if @event.private?
  %h4
    %em This is a private event
  .row
    .col-sm-6
      %h4= "Invited (#{@event.invitees.size})"
      .list-group
        = render(partial: 'users/user', collection: @event.invitees-@event.attendees)
    .col-sm-6
      %h4= "Confirmed (#{@event.attendees.size})"
      .list-group
        = render(partial: 'users/user', collection: @event.attendees)
- else
  .row
    .col-sm-6
      %h4= "Attending (#{@event.attendees.size})"
      .list-group
        = render(partial: 'users/user', collection: @event.attendees)