- if @event.user == current_user && @event.attendees.size < 2
  = link_to '', @event, method: :delete, data: { confirm: "You're sure you want to DELETE this event?" }, class: 'glyphicon glyphicon-remove remove-button', remote: true, title: 'Delete event'
- if @event.user == current_user
  = link_to '', edit_event_path(@event), class: 'glyphicon glyphicon-pencil edit-button', remote: true, title: 'Edit event'
%h2= @event.name
%h3= @event.location.split(', ')[0]
- if @event.start.day < @event.finish.day
  %h4
    = @event.start.strftime("%A, %b #{@event.start.day.ordinalize} from %-I:%M%P")
    until
  %h4= @event.finish.strftime("%A, %b #{@event.finish.day.ordinalize} @ %-I:%M%P")
- elsif @event.start.time == @event.finish.time
  %h4= @event.start.strftime("%A, %b #{@event.finish.day.ordinalize} @ %-I:%M%P")
- else
  %h4
    = @event.start.strftime("%A, %b #{@event.start.day.ordinalize} from %-I:%M%P")
    to
    = @event.finish.strftime("%-I:%M%P")
%h5= @event.description.blank? ? 'Event description' : parse_links(@event.description)
%h5= @event.categories.map{ |c| c.name }.to_sentence
- if signed_in?
  - if current_user.attending?(@event)
    = form_for current_user.attendances.where(event_id: @event.id)[0], html: { method: :delete }, remote: true do |f| 
      = f.submit 'Going', class: 'btn btn-success', id: 'go_button'
  - else
    = form_for Attendance.new, remote: true do |f| 
      = f.hidden_field :event_id, value: @event.id
      = f.hidden_field :user_id, value: current_user.id
      = f.submit 'Go!', class: 'btn btn-info'
- else
  = link_to 'Go!', signin_path, class: 'btn btn-info', remote: true