= render 'layouts/error_messages', object: f.object

.form-group
  = f.label :name, class: 'control-label'
  = f.text_field :name, class: 'form-control'
.form-group
  #datepicker.input-daterange
    = f.label :start, 'Date'
    %br
    = f.text_field :start
    %span.add-on to
    = f.text_field :finish
.form-group
  = f.label :why, class: 'control-label'
  = f.text_area :why, class: 'form-control'
.form-group
  = f.radio_button :private, false
  = f.label :private, "Public", value: false, title: 'Visible to all'
  &nbsp;&nbsp;&nbsp;
  = f.radio_button :private, true
  = f.label :private, "Private", value: true, title: 'Visible to chosen'
.form-group
  = f.label :location, class: 'control-label'
  = f.text_field :location, class: 'form-control'
